<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleJadePinServer</title>
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <!-- html5-qrcode: camera QR scanning used on the PinUnlock page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
            integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JS interop bridge: exposes QrInterop.startScanning / stopScanning to C# -->
    <script src="js/qr-interop.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
